<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 変数の設定 -->
  <variable name="logPath" value="C:\\" />
  <variable name="logWord" value="XXXLog_" />
  <variable name="logName" value="${logPath}${logWord}${shortdate}.tsv" />
  <variable name="appName" value="XXXXX" />

  <targets async="true">

    <target
      name="syslog"
      xsi:type="File"
      encoding="UTF-8"
      fileName="${logName}"
      archiveFileName="${logPath}OldLogs/${logWord}{#}.zip"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyy-MM-dd"
      maxArchiveFiles="3650"
      enableArchiveFileCompression="true">
      <!--
        delimiter は以下が指定可能
          Auto - Automatically detect from regional settings.
          Comma - Comma (ASCII 44).
          Custom - Custom string, specified by the CustomDelimiter.
          Pipe - Pipe character (ASCII 124).
          Semicolon - Semicolon (ASCII 59).
          Space - Space character (ASCII 32).
          Tab - Tab character (ASCII 9).
      -->
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="level" layout="${level:padding=-5}"/>
        <column name="time" layout="${date}" />
        <column name="processname" layout="${appName} " />
        <column name="threadid" layout="${threadid:padding=4}" />
        <column name="message" layout="[${message}]" />
        <!-- 呼び出し箇所（クラス名、メソッド名、ソース情報） -->
        <column name="callsite" layout="${callsite}#${callsite-linenumber}" />
      </layout>
    </target>

    <target
      name="errlog"
      xsi:type="File"
      fileName="${logName}">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="level" layout="${level:padding=-5}"/>
        <column name="time" layout="${date}" />
        <column name="processname" layout="${appName} " />
        <column name="threadid" layout="${threadid:padding=4}" />
        <column name="message" layout="[${message}]" />
        <!-- 呼び出し箇所（クラス名、メソッド名、ソース情報） -->
        <column name="callsite" layout="${callsite}#${callsite-linenumber}" />
        <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
        <column name="exception" layout="${exception:format=Type,message,Stack Trace:separator=|}"/>
      </layout>
    </target>

    <target xsi:type="Console" name="c" layout="${longdate} [${level:padding=-5:uppercase=true}] ${message}" />
  </targets>

  <rules>
    <!-- Info と Warn のログは syslog に書く -->
    <logger name="*" levels="Info,Warn" writeTo="syslog" />
    <!-- Error と Fatal のログは errlog に書く -->
    <logger name="*" levels="Error,Fatal" writeTo="errlog" />

    <!-- Debug 以上のログを全てコンソールに出力する -->
    <logger name="*" minlevel="Debug" writeTo="c" />
    <!-- 特定のカテゴリ名のログをコンソールに出力する -->
    <!--<logger name="Custom" minlevel="Debug" writeTo="c" />-->
  </rules>
</nlog>
