<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 変数の設定 -->
  <variable name="appName" value="XXXXX" />

  <targets async="true">

    <target
      name="f"
      xsi:type="File"
      encoding="UTF-8"
      fileName="${basedir}/Log/${shortdate}.tsv"
      archiveFileName="${basedir}/Log/archives/archive_{#}.log"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyy-MM-dd"
      maxArchiveFiles="3650"
      enableArchiveFileCompression="true">
      <!--
        delimiter は以下が指定可能
          Auto - Automatically detect from regional settings.
          Comma - Comma (ASCII 44).
          Custom - Custom string, specified by the CustomDelimiter.
          Pipe - Pipe character (ASCII 124).
          Semicolon - Semicolon (ASCII 59).
          Space - Space character (ASCII 32).
          Tab - Tab character (ASCII 9).
      -->
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="level" layout="${level:padding=-5}"/>
        <column name="time" layout="${date}" />
        <column name="processname" layout="${appName} " />
        <column name="threadid" layout="${threadid:padding=4}" />
        <column name="message" layout="${message}" />
        <!-- 呼び出し箇所（クラス名、メソッド名、ソース情報） -->
        <column name="callsite" layout="${callsite}#${callsite-linenumber}" />
        <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
        <column name="exception" layout="${exception:format=ToString,message,Stack Trace:separator=|}"/>
      </layout>
    </target>

    <target xsi:type="Console" name="c" layout="${longdate} [${level:padding=-5:uppercase=true}] ${message}" />

    <target xsi:type="MethodCall"
            name="m"
            className="ConfigurationAndLogging.MethodCallTest, ConfigurationAndLogging"
            methodName="Foo">
      <parameter layout="${longdate}" />
      <parameter layout="${level:padding=-5:uppercase=true}" />
      <parameter layout="${message}" />
    </target>
  </targets>

  <rules>
    <!-- Debug 以上のログを全てコンソールに出力する -->
    <!--<logger name="*" minlevel="Debug" writeTo="f,c,m" />-->
    <logger name="ConfigurationAndLogging.Sample" minlevel="Debug" writeTo="c" />
    <!-- 特定のカテゴリ名のログをコンソールに出力する -->
    <!--<logger name="Custom" minlevel="Debug" writeTo="c" />-->
  </rules>
</nlog>
